body{
    background-color: rgb(184, 161, 199);
    color: rgb(255, 228, 198);
    text-align: center;
    padding: 20px;
    text-decoration-line: none;
    font-family:Arial;
}
h1{
    color: rgba(5, 23, 34, 0.644);
    font-size: 50px;
    font-style: italic;
    background-color: aliceblue;
    }
table{
    text-align: center;
    margin-left: 300px;
    padding-bottom: 300px;
    text-decoration-color: rgb(5, 43, 43);
}   
form{
margin: 200px;
align-items: stretch;
align-content: center;
}
table{
    text-align: center;
    margin-left: 300px;
    padding-bottom: 25px;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(23, 15, 26);
    color: aliceblue
}
input{
padding: 20px;
font-size: 15px;
}

